{% extends "admin/layout.html" %}
{% block title %} {{ title }} {% endblock %}

{% block hero %}

    <h1 class="title is-1 has-text-white has-text-centered is-size-3-mobile">Delete Pages</h1>

{% endblock %}

{% block body %}
      
<div style="padding: 1rem 1.5rem 0 1.5rem;">
  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <p>You're here: </p>
        <li><a href="{{ url_for("admin.dashboard") }}">Dashboard</a></li>
        <li class="is-active"><a href="#" aria-current="page">Delete Pages</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="section">
  <div class="container">

    <div class="columns">
      <div class="column">
        <h2 class="title is-2"></h2>
        <p>Select a page to delete.</p>
        <hr />

    {% if confirm is sameas false %}
        <h1 class="title">Are you sure?</h1>
        <a href="{{ url_for('pages.delete_page_by_path', path=path) }}" 
            class="button is-danger">
            Yes
        </a>
        <br /><br />
        <a href="{{ url_for('pages.delete_pages_list', cancel=1) }}" 
            class="button is-success">
            No
        </a>
    {% else %}
        <table>
            <thead>
                <th>Name</th>
                <th>Delete</th>
            </thead>
				{% for page in pages %}
        <tr>
            <td>{{ page.path }}</td>
            <td>
                <a href="{{ url_for('pages.delete_page_by_path', path=page.path,
confirm=1) }}" 
                    class="button is-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </table>
    {% endif %}







      </div><!-- end column -->

      <div class="is-divider-vertical"></div>
      <div class="column is-one-third" style="padding:0;">
        <h3 class="title is-5">Notes</h3>
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <br />
      </div>
    </div>

{% endblock body %}
